		<div class="col s12 m4">

				<div class="icon-block" style="background-image: url(<%= @post.image %>);">
					<h4 class="center">
						<%= @post.title %>
					</h4>
					<% if user_signed_in? && current_user.id == @post.user_id %>
						<div class="more">
							<span class="liststar">★</span>
							<ul class="more_list">
								<li class="usermenu">
									<%= link_to '編集', "/posts/#{@post.id}/edit", :class => "behind", method: :get %>
								</li>
								<li class=usermenu>
									<%= link_to '削除', "/posts/#{@post.id}",  :class => "behind", method: :delete %>
								</li>

							</ul>
						</div>
						<% end %>

							<div class="postcontents">
								<p class="lights">
									<%= @post.text %>
								</p>
								
								</div>
								<span class="name">
							From
								<br>
								<%= @post.user.nickname %>
									</span>
									
				
				</div>
			</div>
												   <div class="contents-row-comment"> 
    <!-- ここからフォーム -->
    <% if current_user %>
      <%= form_tag("/posts/#{@post.id}/comments", method: :post) do %>
        
            <textarea cols="100" name="text" placeholder="Comment!" rows="4" class="new-input"></textarea>
    <input type="submit" value="SENT!" class="sentbutton">
      <% end %>
    <% end %>
    
        <div class="comments">   
      <h4>＜Comment list＞</h4>
      <% if @comments %>
        <% @comments.each do |comment| %>
          <p>
            <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：</strong>
            <%= comment.text %>
          </p>
        <% end %>
      <% end %>
    </div>
  </div>

